<div class="container">
  <h2>File Details</h2><br/><br/><br/>
   <div class="row fileupload-buttonbar">
      <div class="span7">
		<table class="table table-striped">
		<tr class="template-download fade"><b>File Cloud UID :</b> <%= @upload.id %></tr><br/>
		<tr class="template-download fade"><b>File Name :</b> <%= @upload.upload_file_name %></tr><br/>
		<tr class="template-download fade"><b>File Size :</b> <%= @upload.upload_file_size %></tr><br/>
		<tr class="template-download fade"><b>File Content Type :</b> <%= @upload.upload_content_type %></tr><br/>
		</table>
      </div>
   </div>
</div>